body{
    background-color: bisque;
   
       color:brown;
   }
   
    /* h1,h2,nav{
   text-align: center;
   } */
   
   /* div{
   display: inline-block;
   width: 45%;
   height: 50px;
   border: 2px dotted lightblue;
   vertical-align: top;
   padding: 10px;
   text-align: justify;
   margin:10px;
   } */
   
   a{
   width: 100px;
   height: 50px;
   background-color: blanchedalmond;
   color: blueviolet;
   margin:5px;
   padding:5px;
   text-transform: capitalize;
   text-decoration: none;
   }
   
   a:hover{
   width: 100px;
   height: 50px;
   background-color:blueviolet ;
   color:blanchedalmond;
   margin:3px;
   padding:3px;
   }
   
   footer>p{
   font-size: 0.8cm;
   font-style: italic;
   position: fixed;
   bottom: 0;
   width: 100%;
   }
   
   ul.menu{
   list-style-type: none;
   display:inline-block;
   }
   
   .menu>li{
   display: inline-block;
   }
   
   /* li>a{
   width: 100px;
   height: 50px;
   background-color: burlywood;
   color: darkgreen;
   margin: 5px;
   padding: 5px;
   } */
   
   tr,td{
   height: 45px;
   padding: 5px;
   }
   
   .center{
   margin-left: auto;
   margin-right: auto;
   }
   
   .sentence{
   text-transform:capitalize;
   text-transform:uppercase;
   text-transform:lowercase;
   }
   
   .card{
   
       border: 2px solid  gray;
   
       border-radius: 5px;
   
       box-shadow: 2px 2px 2px 2px rgb(212, 224, 53);
   
   }
   
   .polaroid{
   
       width: 50%;
   
       background-color: white;
   
       box-shadow: 0 4px 8px lightblue;
   
       margin-bottom: 25px;
   
       float: left;
   
   }
   
   .rounded{
   
       border-radius: 50%;
   
   }